/* add classes here */
.bg-auto {
    background-size: auto;
}

.bg-cover {
    background-size: cover;
}

.bg-contain {
    background-size: contain;
}

.bg-origin-border {
    background-origin: border-box;
}

.bg-origin-padding {
    background-origin: padding-box;
}

.bg-origin-content {
    background-origin: content-box;
}

.bg-bottom {
    background-position: bottom;
}

.bg-center {
    background-position: center;
}

.bg-left {
    background-position: left;
}

.bg-left-bottom {
    background-position: left bottom;
}

.bg-left-top {
    background-position: left top;
}

.bg-right {
    background-position: right;
}

.bg-right-bottom {
    background-position: right bottom;
}

.bg-right-top {
    background-position: right top;
}

.bg-top {
    background-position: top;
}

.bg-inherit {
    background-color: inherit;
}

.bg-current {
    background-color: currentColor;
}

.bg-transparent {
    background-color: transparent;
}

.bg-black {
    background-color: rgb(0, 0, 0);
}

.bg-white {
    background-color: rgb(255, 255, 255);
}

.bg-slate-50 {
    background-color: rgb(248, 250, 252);
}

.bg-slate-100 {
    background-color: rgb(241, 245, 249);
}

.bg-slate-200 {
    background-color: rgb(226, 232, 240);
}

.bg-slate-300 {
    background-color: rgb(203, 213, 225);
}

.bg-slate-400 {
    background-color: rgb(148, 163, 184);
}

.bg-slate-500 {
    background-color: rgb(100, 116, 139);
}

.bg-slate-600 {
    background-color: rgb(71, 85, 105);
}

.bg-slate-700 {
    background-color: rgb(51, 65, 85);
}

.bg-slate-800 {
    background-color: rgb(30, 41, 59);
}

.bg-slate-900 {
    background-color: rgb(15, 23, 42);
}

.bg-slate-950 {
    background-color: rgb(2, 6, 23);
}

.bg-gray-50 {
    background-color: rgb(249, 250, 251);
}

.bg-gray-100 {
    background-color: rgb(243, 244, 246);
}

.bg-gray-200 {
    background-color: rgb(229, 231, 235);
}

.bg-gray-300 {
    background-color: rgb(209, 213, 219);
}

.bg-gray-400 {
    background-color: rgb(156, 163, 175);
}

.bg-gray-500 {
    background-color: rgb(107, 114, 128);
}

.bg-gray-600 {
    background-color: rgb(75, 85, 99);
}

.bg-gray-700 {
    background-color: rgb(55, 65, 81);
}

.bg-gray-800 {
    background-color: rgb(31, 41, 55);
}

.bg-gray-900 {
    background-color: rgb(17, 24, 39);
}

.bg-gray-950 {
    background-color: rgb(3, 7, 18);
}

.bg-zinc-50 {
    background-color: rgb(250, 250, 250);
}

.bg-zinc-100 {
    background-color: rgb(244, 244, 245);
}

.bg-zinc-200 {
    background-color: rgb(228, 228, 231);
}

.bg-zinc-300 {
    background-color: rgb(212, 212, 216);
}

.bg-zinc-400 {
    background-color: rgb(161, 161, 170);
}

.bg-zinc-500 {
    background-color: rgb(113, 113, 122);
}

.bg-zinc-600 {
    background-color: rgb(82, 82, 91);
}

.bg-zinc-700 {
    background-color: rgb(63, 63, 70);
}

.bg-zinc-800 {
    background-color: rgb(39, 39, 42);
}

.bg-zinc-900 {
    background-color: rgb(24, 24, 27);
}

.bg-zinc-950 {
    background-color: rgb(9, 9, 11);
}

.bg-neutral-50 {
    background-color: rgb(250, 250, 250);
}

.bg-neutral-100 {
    background-color: rgb(245, 245, 245);
}

.bg-neutral-200 {
    background-color: rgb(229, 229, 229);
}

.bg-neutral-300 {
    background-color: rgb(212, 212, 212);
}

.bg-neutral-400 {
    background-color: rgb(163, 163, 163);
}

.bg-neutral-500 {
    background-color: rgb(115, 115, 115);
}

.bg-neutral-600 {
    background-color: rgb(82, 82, 82);
}

.bg-neutral-700 {
    background-color: rgb(64, 64, 64);
}

.bg-neutral-800 {
    background-color: rgb(38, 38, 38);
}

.bg-neutral-900 {
    background-color: rgb(23, 23, 23);
}

.bg-neutral-950 {
    background-color: rgb(10, 10, 10);
}

.bg-stone-50 {
    background-color: rgb(250, 250, 249);
}

.bg-stone-100 {
    background-color: rgb(245, 245, 244);
}

.bg-stone-200 {
    background-color: rgb(231, 229, 228);
}

.bg-stone-300 {
    background-color: rgb(214, 211, 209);
}

.bg-stone-400 {
    background-color: rgb(168, 162, 158);
}

.bg-stone-500 {
    background-color: rgb(120, 113, 108);
}

.bg-stone-600 {
    background-color: rgb(87, 83, 78);
}

.bg-stone-700 {
    background-color: rgb(68, 64, 60);
}

.bg-stone-800 {
    background-color: rgb(41, 37, 36);
}

.bg-stone-900 {
    background-color: rgb(28, 25, 23);
}

.bg-stone-950 {
    background-color: rgb(12, 10, 9);
}

.bg-red-50 {
    background-color: rgb(254, 242, 242);
}

.bg-red-100 {
    background-color: rgb(254, 226, 226);
}

.bg-red-200 {
    background-color: rgb(254, 202, 202);
}

.bg-red-300 {
    background-color: rgb(252, 165, 165);
}

.bg-red-400 {
    background-color: rgb(248, 113, 113);
}

.bg-red-500 {
    background-color: rgb(239, 68, 68);
}

.bg-red-600 {
    background-color: rgb(220, 38, 38);
}

.bg-red-700 {
    background-color: rgb(185, 28, 28);
}

.bg-red-800 {
    background-color: rgb(153, 27, 27);
}

.bg-red-900 {
    background-color: rgb(127, 29, 29);
}

.bg-red-950 {
    background-color: rgb(69, 10, 10);
}

.bg-orange-50 {
    background-color: rgb(255, 247, 237);
}

.bg-orange-100 {
    background-color: rgb(255, 237, 213);
}

.bg-orange-200 {
    background-color: rgb(254, 215, 170);
}

.bg-orange-300 {
    background-color: rgb(253, 186, 116);
}

.bg-orange-400 {
    background-color: rgb(251, 146, 60);
}

.bg-orange-500 {
    background-color: rgb(249, 115, 22);
}

.bg-orange-600 {
    background-color: rgb(234, 88, 12);
}

.bg-orange-700 {
    background-color: rgb(194, 65, 12);
}

.bg-orange-800 {
    background-color: rgb(154, 52, 18);
}

.bg-orange-900 {
    background-color: rgb(124, 45, 18);
}

.bg-orange-950 {
    background-color: rgb(67, 20, 7);
}

.bg-amber-50 {
    background-color: rgb(255, 251, 235);
}

.bg-amber-100 {
    background-color: rgb(254, 243, 199);
}

.bg-amber-200 {
    background-color: rgb(253, 230, 138);
}

.bg-amber-300 {
    background-color: rgb(252, 211, 77);
}

.bg-amber-400 {
    background-color: rgb(251, 191, 36);
}

.bg-amber-500 {
    background-color: rgb(245, 158, 11);
}

.bg-amber-600 {
    background-color: rgb(217, 119, 6);
}

.bg-amber-700 {
    background-color: rgb(180, 83, 9);
}

.bg-amber-800 {
    background-color: rgb(146, 64, 14);
}

.bg-amber-900 {
    background-color: rgb(120, 53, 15);
}

.bg-amber-950 {
    background-color: rgb(69, 26, 3);
}

.bg-yellow-50 {
    background-color: rgb(254, 252, 232);
}

.bg-yellow-100 {
    background-color: rgb(254, 249, 195);
}

.bg-yellow-200 {
    background-color: rgb(254, 240, 138);
}

.bg-yellow-300 {
    background-color: rgb(253, 224, 71);
}

.bg-yellow-400 {
    background-color: rgb(250, 204, 21);
}

.bg-yellow-500 {
    background-color: rgb(234, 179, 8);
}

.bg-yellow-600 {
    background-color: rgb(202, 138, 4);
}

.bg-yellow-700 {
    background-color: rgb(161, 98, 7);
}

.bg-yellow-800 {
    background-color: rgb(133, 77, 14);
}

.bg-yellow-900 {
    background-color: rgb(113, 63, 18);
}

.bg-yellow-950 {
    background-color: rgb(66, 32, 6);
}

.bg-lime-50 {
    background-color: rgb(247, 254, 231);
}

.bg-lime-100 {
    background-color: rgb(236, 252, 203);
}