/* add classes here */
.bg-auto {
    background-size: auto;
}

.bg-cover {
    background-size: cover;
}

.bg-contain {
    background-size: contain;
}

.bg-origin-border {
    background-origin: border-box;
}

.bg-origin-padding {
    background-origin: padding-box;
}

.bg-origin-content {
    background-origin: content-box;
}