<<<<<<< HEAD
/* riya kachere  */
.justify-normal	
{
    justify-content: normal;
}
.justify-start
{
    justify-content: flex-start;
}
.justify-end	
{
    justify-content: flex-end;
}
.justify-center	
{
    justify-content: center;
}
.justify-between	
{
    justify-content: space-between;
}
.justify-around	
{
    justify-content: space-around;
}
.justify-evenly
{
    justify-content: space-evenly;
}
.justify-stretch	
{
    justify-content: stretch;
=======
/* add classes here */
/* add classes here */
.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-col {
    flex-direction: column;
}

.flex-col-reverse {
    flex-direction: column-reverse;
>>>>>>> 8a12a97cdd2896c820fc4772f32fd06933879ec3
}