/* add classes here */
/* add classes here */

.justify-self-auto {
    justify-self: auto;
}
/* riya kachere  */
.justify-normal	
{
    justify-content: normal;
}
.justify-start
{
    justify-content: flex-start;
}
.justify-end	
{
    justify-content: flex-end;
}
.justify-center	
{
    justify-content: center;
}
.justify-between	
{
    justify-content: space-between;
}
.justify-around	
{
    justify-content: space-around;
}
.justify-evenly
{
    justify-content: space-evenly;
}
.justify-stretch	
{
    justify-content: stretch;
}
.flex-row {
    flex-direction: row;
}

.justify-self-start {
    justify-self: start;
}

.justify-self-end {
    justify-self: end;
}

.justify-self-center {
    justify-self: center;
}

.flex-col-reverse {
    flex-direction: column-reverse;
}
/*flex wrap ,flex grow flex Shrink and flex order */
.flex-wrap	{flex-wrap: wrap;}
.flex-wrap-reverse	{flex-wrap: wrap-reverse;}
.flex-nowrap	{flex-wrap: nowrap;}

.grow	{flex-grow: 1;}
.grow-0	{flex-grow: 0;}

.shrink	{flex-shrink: 1;}
.shrink-0	{flex-shrink: 0;}

.order-1	{order: 1;}
.order-2	{order: 2;}
.order-3	{order: 3;}
.order-4	{order: 4;}
.order-5	{order: 5;}
.order-6	{order: 6;}
.order-7	{order: 7;}
.order-8	{order: 8;}
.order-9	{order: 9;}
.order-10	{order: 10;}
.order-11	{order: 11;}
.order-12	{order: 12;}
.order-first	{order: -9999;}
.order-last	{order: 9999;}
.order-none	{order: 0;}

.justify-self-stretch {
    justify-self: stretch;
}

.flex-1 {
    flex: 1 1 0%;
}

.flex-auto {
    flex: 1 1 auto;
}

.flex-initial {
    flex: 0 1 auto;
}

.flex-none {
    flex: none;
}
