/* add classes here */

/* shahnwaz khan */
.static{
    position:static;
}
.fixed{
    position:fixed;
}
.absolute{
    position:absolute;
}
.relative{
    position: relative;
}
.sticky{
    position: sticky;
}


.float-start{
    float: inline-start;
}
.float-end{
    float: inline-end;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.float-none{
    float: none;
}/* shahhnwaz khan  */
.block { display: block; }
.inline-block { display: inline-block; }
.inline { display: inline; }
.flex { display: flex; }
.inline-flex { display: inline-flex; }
.table { display: table; }
.inline-table { display: inline-table; }
.table-caption { display: table-caption; }
.table-cell { display: table-cell; }
.table-column { display: table-column; }
.table-column-group { display: table-column-group; }
.table-footer-group { display: table-footer-group; }
.table-header-group { display: table-header-group; }
.table-row-group { display: table-row-group; }
.table-row { display: table-row; }
.flow-root { display: flow-root; }
.grid { display: grid; }
.inline-grid { display: inline-grid; }
.contents { display: contents; }
.list-item { display: list-item; }
.hidden { display: none; }
/***/
.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.collapse {
    visibility: collapse;
}

.z-0 {
    z-index: 0;
  }
  
  .z-10 {
    z-index: 10;
  }
  
  .z-20 {
    z-index: 20;
  }
  
  .z-30 {
    z-index: 30;
  }
  
  .z-40 {
    z-index: 40;
  }
  
  .z-50 {
    z-index: 50;
  }
  
  .z-auto {
    z-index: auto;
  }
  


























/* for small screen size use prefix sm:/classname{css property} */
@media (max-width: 640px) {

}


/* for meidium screen size use prefix md:/classname{css property} */
@media (max-width: 768px) {

}


/* for large screen size use prefix lg:/classname{css property} */
@media (max-width: 1024px) {

}



/* for extra large screen size use prefix xl:/classname{css property} */
@media (max-width: 1280px) {

}
