/* add classes here */

/* neelkanth sahu */

.text-inherit { color: inherit; }
.text-current { color: currentColor; }
.text-transparent { color: transparent; }
.text-black { color: rgb(0, 0, 0); }
.text-white { color: rgb(255, 255, 255); }
.text-slate-50 { color: rgb(248, 250, 252); }
.text-slate-100 { color: rgb(241, 245, 249); }
.text-slate-200 { color: rgb(226, 232, 240); }
.text-slate-300 { color: rgb(203, 213, 225); }
.text-slate-400 { color: rgb(148, 163, 184); }
.text-slate-500 { color: rgb(100, 116, 139); }
.text-slate-600 { color: rgb(71, 85, 105); }
.text-slate-700 { color: rgb(51, 65, 85); }
.text-slate-800 { color: rgb(30, 41, 59); }
.text-slate-900 { color: rgb(15, 23, 42); }
.text-slate-950 { color: rgb(2, 6, 23); }
.text-gray-50 { color: rgb(249, 250, 251); }
.text-gray-100 { color: rgb(243, 244, 246); }
.text-gray-200 { color: rgb(229, 231, 235); }
.text-gray-300 { color: rgb(209, 213, 219); }
.text-gray-400 { color: rgb(156, 163, 175); }
.text-gray-500 { color: rgb(107, 114, 128); }
.text-gray-600 { color: rgb(75, 85, 99); }
.text-gray-700 { color: rgb(55, 65, 81); }
.text-gray-800 { color: rgb(31, 41, 55); }
.text-gray-900 { color: rgb(17, 24, 39); }
.text-gray-950 { color: rgb(3, 7, 18); }
.text-zinc-50 { color: rgb(250, 250, 250); }
.text-zinc-100 { color: rgb(244, 244, 245); }
.text-zinc-200 { color: rgb(228, 228, 231); }
.text-zinc-300 { color: rgb(212, 212, 216); }
.text-zinc-400 { color: rgb(161, 161, 170); }
.text-zinc-500 { color: rgb(113, 113, 122); }
.text-zinc-600 { color: rgb(82, 82, 91); }
.text-zinc-700 { color: rgb(63, 63, 70); }
.text-zinc-800 { color: rgb(39, 39, 42); }
.text-zinc-900 { color: rgb(24, 24, 27); }
.text-zinc-950 { color: rgb(9, 9, 11); }
.text-neutral-50 { color: rgb(250, 250, 250); }
.text-neutral-100 { color: rgb(245, 245, 245); }
.text-neutral-200 { color: rgb(229, 229, 229); }
.text-neutral-300 { color: rgb(212, 212, 212); }
.text-neutral-400 { color: rgb(163, 163, 163); }
.text-neutral-500 { color: rgb(115, 115, 115); }
.text-neutral-600 { color: rgb(82, 82, 82); }
.text-neutral-700 { color: rgb(64, 64, 64); }
.text-neutral-800 { color: rgb(38, 38, 38); }
.text-neutral-900 { color: rgb(23, 23, 23); }
.text-neutral-950 { color: rgb(10, 10, 10); }
.text-stone-50 { color: rgb(250, 250, 249); }
.text-stone-100 { color: rgb(245, 245, 244); }
.text-stone-200 { color: rgb(231, 229, 228); }
.text-stone-300 { color: rgb(214, 211, 209); }
.text-stone-400 { color: rgb(168, 162, 158); }
.text-stone-500 { color: rgb(120, 113, 108); }
.text-stone-600 { color: rgb(87, 83, 78); }
.text-stone-700 { color: rgb(68, 64, 60); }
.text-stone-800 { color: rgb(41, 37, 36); }
.text-stone-900 { color: rgb(28, 25, 23); }
.text-stone-950 { color: rgb(12, 10, 9); }
.text-red-50 { color: rgb(254, 242, 242); }
.text-red-100 { color: rgb(254, 226, 226); }
.text-red-200 { color: rgb(254, 202, 202); }
.text-red-300 { color: rgb(252, 165, 165); }
.text-red-400 { color: rgb(248, 113, 113); }
.text-red-500 { color: rgb(239, 68, 68); }
.text-red-600 { color: rgb(220, 38, 38); }
.text-red-700 { color: rgb(185, 28, 28); }
.text-red-800 { color: rgb(153, 27, 27); }
.text-red-900 { color: rgb(127, 29, 29); }
.text-red-950 { color: rgb(69, 10, 10); }
.text-orange-50 { color: rgb(255, 247, 237); }
.text-orange-100 { color: rgb(255, 237, 213); }
.text-orange-200 { color: rgb(254, 215, 170); }
.text-orange-300 { color: rgb(253, 186, 116); }
.text-orange-400 { color: rgb(251, 146, 60); }
.text-orange-500 { color: rgb(249, 115, 22); }
.text-orange-600 { color: rgb(234, 88, 12); }
.text-orange-700 { color: rgb(194, 65, 12); }
.text-orange-800 { color: rgb(154, 52, 18); }
.text-orange-900 { color: rgb(124, 45, 18); }
.text-orange-950 { color: rgb(67, 20, 7); }
.text-amber-50 { color: rgb(255, 251, 235); }
.text-amber-100 { color: rgb(254, 243, 199); }
.text-amber-200 { color: rgb(253, 230, 138); }
.text-amber-300 { color: rgb(252, 211, 77); }
.text-amber-400 { color: rgb(251, 191, 36); }
.text-amber-500 { color: rgb(245, 158, 11); }
.text-amber-600 { color: rgb(217, 119, 6); }
.text-amber-700 { color: rgb(180, 83, 9); }
.text-amber-800 { color: rgb(146, 64, 14); }
.text-amber-900 { color: rgb(120, 53, 15); }
.text-amber-950 { color: rgb(69, 26, 3); }
.text-yellow-50 { color: rgb(254, 252, 232); }
.text-yellow-100 { color: rgb(254, 249, 195); }
.text-yellow-200 { color: rgb(254, 240, 138); }
.text-yellow-300 { color: rgb(253, 224, 71); }
.text-yellow-400 { color: rgb(250, 204, 21); }
.text-yellow-500 { color: rgb(234, 179, 8); }
.text-yellow-600 { color: rgb(202, 138, 4); }
.text-yellow-700 { color: rgb(161, 98, 7); }
.text-yellow-800 { color: rgb(133, 77, 14); }
.text-yellow-900 { color: rgb(113, 63, 18); }
.text-yellow-950 { color: rgb(66, 32, 6); }
.text-lime-50 { color: rgb(247, 254, 231); }
.text-lime-100 { color: rgb(236, 252, 203); }
.text-lime-200 { color: rgb(217, 249, 157); }
.text-lime-300 { color: rgb(190, 242, 100); }
.text-lime-400 { color: rgb(163, 230, 53); }
.text-lime-500 { color: rgb(132, 204, 22); }
.text-lime-600 { color: rgb(101, 163, 13); }
.text-lime-700 { color: rgb(77, 124, 15); }

/* for small screen size use prefix sm:/classname{css property} */
@media (max-width: 640px) {

}


/* for meidium screen size use prefix sm:/classname{css property} */
@media (max-width: 768px) {

}


/* for large screen size use prefix sm:/classname{css property} */
@media (max-width: 1024px) {

}



/* for extra large screen size use prefix sm:/classname{css property} */
@media (max-width: 1280px) {

}